.app {
  &--container {
    border: 1px solid var(--border);
  }
}

.currency-selector {
  width: 240px;
  color: #fff;
}

.currency-container {
  > div {
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
  }

  .code {
    font-family: "Code2000", Menlo, Monaco, Consolas,
      "Courier New", monospace;
  }
}

/**
    Override Bootstrap CSS 
*/

.dropdown-menu {
  overflow-y: scroll;
  max-height: 500px;
}
